@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/parallax";
@import "swiper/css/navigation";


/* Global font */
body {
  font-family: var(--font-nunito);
  background-color: #000; /* prevents white flash */
}


/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@keyframes borderPath {
  0%   { background-position: 50%   0%; }
  25%  { background-position: 100% 50%; }
  50%  { background-position: 50% 100%; }
  75%  { background-position: 0%  50%; }
  100% { background-position: 50%   0%; }
}

.animate-borderPath {
  animation: borderPath 7.5s linear infinite;
}




/* sm: 360px   // Small Android
md: 390px   // iPhone Pro
lg: 412px   // Galaxy Ultra / Huawei
xl: 768px   // Fold / Tablet */

/* Animation for service popup */
@keyframes sheetReveal {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes sheetRevealOfServiceBlogButtons {
  from {
    transform: translateX(-50%) scaleY(0);
  }
  to {
    transform: translateX(-50%) scaleY(1);
  }
}

.animate-sheetRevealButtons {
  animation: sheetRevealOfServiceBlogButtons 0.65s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

.animate-sheetReveal {
  animation: sheetReveal 0.65s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

.animate-menuIn {
  animation: sheetRevealOfHamburgerMenu 0.65s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

@keyframes sheetRevealOfHamburgerMenu {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

/* cubic-bezier(0.22, 0.61, 0.36, 1) */
.animate-menuOut {
  animation: sheetRevealOfHamburgerMenuHide 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

@keyframes sheetRevealOfHamburgerMenuHide {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* reverse or closing animation of service pop up */
@keyframes sheetHideOfServiceBlogButtons {
  from {
    transform: translateX(-50%) scaleY(1);
  }
  to {
    transform: translateX(-50%) scaleY(0);
  }
}

@keyframes sheetHide {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.animate-sheetHideButtons {
  animation: sheetHideOfServiceBlogButtons 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

.animate-sheetHide {
  animation: sheetHide 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

/* wipe animation for  growth sections */
@keyframes wipeReveal {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.animate-wipeReveal {
  animation: wipeReveal 0.85s cubic-bezier(.22,1,.36,1) forwards;
  transform-origin: left;
}





/* contact us  */
@keyframes contactSheetReveal {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes contactSheetHide {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.98);
  }
}

.animate-contactSheetReveal {
  animation: contactSheetReveal 0.45s ease forwards;
}

.animate-contactSheetHide {
  animation: contactSheetHide 0.45s ease forwards;
}



/* Rich text animated underline */
.rich-text a {
  position: relative;
  color: #16a34a !important; /* green-600 */
  font-weight: 500;
  text-decoration: none;
  transition: color 0.25s ease;
}

/* Create animated underline */
.rich-text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #16a34a;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(.22,1,.36,1);
}

/* Hover effect */
.rich-text a:hover {
  color: #15803d !important; /* green-700 */
}

.rich-text a:hover::after {
  transform: scaleX(1);
}

.rich-text h1,
.rich-text h2,
.rich-text h3 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
   font-weight: 700;
  color: #111;
  line-height: 1.2;
}

.rich-text p {
  margin-bottom: 1rem;
  line-height: 1.7;
}

.rich-text ul,
.rich-text ol {
  margin: 1rem 0;
}

.rich-text li {
  margin-bottom: 0.4rem;
}


.rich-text h1 {
  font-size: 2.5rem;
}

.rich-text h2 {
  font-size: 2rem;
}

.rich-text h3 {
  font-size: 1.5rem;
}

.rich-text p {
  font-size: 1rem;
  color: currentColor;
}

.rich-text strong {
  color: #08b146; /* green-700 */
  font-weight: 600;
}

.rich-text ul {
  padding-left: 1.2rem;
  list-style: disc;
}

.rich-text ol {
  padding-left: 1.2rem;
  list-style: decimal;
}

/* Swiper customizations  of humburger of navbar */
@keyframes menuIn {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes menuOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-8px) scale(0.97);
  }
}




/* ================= Fade Up Animation ================= */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(60px);
}

.fade-up.show {
  animation: fadeUp 1s cubic-bezier(.22,1,.36,1) forwards;
}



.description-text {
  @apply text-base md:text-lg text-gray-600 leading-tight;
}

/* Hide scrollbar completely */
.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderFlow {
  to {
    --angle: 360deg;
  }
}

.border-animate {
  --angle: 0deg;
  animation: borderFlow 3s linear infinite;
}



