@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/parallax";


/* Global font */
body {
  font-family: var(--font-nunito);
  background-color: #000; /* prevents white flash */
}


/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@keyframes borderPath {
  0%   { background-position: 50%   0%; }
  25%  { background-position: 100% 50%; }
  50%  { background-position: 50% 100%; }
  75%  { background-position: 0%  50%; }
  100% { background-position: 50%   0%; }
}

.animate-borderPath {
  animation: borderPath 7.5s linear infinite;
}




/* sm: 360px   // Small Android
md: 390px   // iPhone Pro
lg: 412px   // Galaxy Ultra / Huawei
xl: 768px   // Fold / Tablet */

/* Animation for service popup */
@keyframes sheetReveal {
  from {
    transform: translateX(-50%) scaleY(0);
  }
  to {
    transform: translateX(-50%) scaleY(1);
  }
}

.animate-sheetReveal {
  animation: sheetReveal 0.65s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}


/* reverse or closing animation of service pop up */
@keyframes sheetHide {
  from {
    transform: translateX(-50%) scaleY(1);
  }
  to {
    transform: translateX(-50%) scaleY(0);
  }
}

.animate-sheetHide {
  animation: sheetHide 0.55s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform-origin: top;
  will-change: transform;
}

/* wipe animation for  growth sections */
@keyframes wipeReveal {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.animate-wipeReveal {
  animation: wipeReveal 0.85s cubic-bezier(.22,1,.36,1) forwards;
  transform-origin: left;
}





.water-ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 999px;
  pointer-events: none;

  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.15);

  animation: rippleExpand 0.9s ease-out forwards;
}

@keyframes rippleExpand {
  0% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(0.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(6);
  }
}
